[MASTER]
ignore-patterns=
ignored-classes=
output-format=colorized

disable=
    # bad rules:
    anomalous-backslash-in-string,
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-many-instance-attributes,
    logging-fstring-interpolation,
    line-too-long,
    too-many-nested-blocks,
    invalid-name,
evaluation=0 if (error + warning + refactor + convention) else 10
